{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
<a href="{% url 'book_list' %}" role="button">Return</a><br>
<div class="book-detail">

    {% if book.cover %}
        <img src="{{ book.cover.url }}" alt="{{ book.cover.title }}"> <br>
    {% endif %}
    
    <a href="#">{{ book.title }}</a> by <a href="#">{{ book.author }}</a>

    <p>Price: {{ book.price }}</p>
    <p><a role="button" href="#">Purchase</a><br><a href="#" role="button">Add to Cart</a></p>
</div>
<div class="reviews">
    
    {% if book.reviews.all.count == 0 %}
    <h3>No Review/s.</h3>
    {% else %}
    <h3>Reviews</h3>
    <ul>
        {% for review in book.reviews.all %}
        <li>{{ review.review }} - {{ review.author }} </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock content %}