{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
        <form action="{% url 'search_results' %}" method="GET" class="form-inline mt-2 mt-md-0">
            <input type="text" name="q" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
        </form>
        <br><br>
        <h3>Welcome, {{ user.username }}</h3>
        <a href="{% url 'account_logout' %}">- Log Out -</a>
    
    {% else %}

        <p>You are not logged in.</p>
        <a href="{% url 'account_login' %}">- Log In -</a> or <a href="{% url 'account_signup' %}">- Sign Up -</a>
    
    {% endif %}
{% endblock content %}