{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
        <img class="testcover" src="{% static 'images/trick.jpg' %}">
        <h2>Welcome, {{ user.username }}</h2>
        <a href="{% url 'logout' %}">- Log Out -</a>
    
    {% else %}

        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">- Log In -</a> or <a href="{% url 'signup' %}">- Sign Up -</a>
    
    {% endif %}
{% endblock content %}